<div class row>
  <table class="table table-striped">

    <caption style="font-weight:bold;font-style:italic;">Upcoming Events</caption>

    <div class="col-lg-6 col-lg-offset-6" >
      <div class="input-group">
        <input type="text" ng-model="events.query" class="form-control" placeholder="Search for...">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

    <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Location</th>
      <th>Contact</th>
      <th>Ticket</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="e in events.events.results | filter:events.query">
      <td >{{e.eventdate}}</td>
      <td ><a ng-href="{{e.event}}"> {{e['event/_text']}}</a></td>
      <td >{{e.eventlocation}}</td>
      <td ><a ng-href="{{e.eventperson}}">{{e['eventperson/_text']}}</a></td>
      <td >{{e.ticketperson}}</td>
    </tr>
    </tbody>
  </table>


  <!--{{events.events.results.collection1}}-->
</div>
