

<div class="points">
<h3>{{user.dancer['full_name']}} </h3>

  <uib-tabset>
    <uib-tab heading="Leader">

      <div class row>
        <table class="table table-striped" ng-repeat="division in user.dancer.results[0].divisions">
          <caption style="font-weight:bold;font-style:italic;">{{division.name}} - {{division.leader_points}} points</caption>
          <caption ng-show="division.leaderRunningPoints" style="font-weight:bold;font-style:italic;">All-Star Qualifying - {{division.leaderRunningPoints}} points</caption>
          <thead>
          <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Date</th>
            <th>Result</th>
            <th>Points</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="lplacement in division.leader_placements" ng-click="user.setSelected($index, 'Leader', division.name)" ng-class="{selected: user.isSelected($index, 'Leader', division.name)}">
            <td width="30%">{{lplacement.name}}</td>
            <td width="30%">{{lplacement.location}}</td>
            <td width="20%">{{lplacement.start_date | limitTo: 10 }}</td>
            <td width="10%">{{lplacement.result}}</td>
            <td width="5%">{{lplacement.points}}</td>
            <td width="5%"><button ng-click="user.addHighlight(division.name,lplacement.name, lplacement.result)" ng-show="user.isSelected($index, 'Leader', division.name) && user.userLoggedIn()" type="button" class="btn btn-xs btn-info">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
    <uib-tab heading="Follower" active="user.isFollower">
       <div class row>
        <table class="table table-striped" ng-repeat="division in user.dancer.results[0].divisions" ng-click="user.setSelected(lplacement.id, 'Follower', division.name) && user.userLoggedIn()">
          <caption style="font-weight:bold;font-style:italic;">{{division.name}} - {{division.follower_points}} points</caption>
          <caption ng-show="division.followerRunningPoints" style="font-weight:bold;font-style:italic;">All-Star Qualifying - {{division.followerRunningPoints}} points</caption>
          <thead>
          <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Date</th>
            <th>Result</th>
            <th>Points</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="lplacement in division.follower_placements">
            <td width="30%">{{lplacement.name}}</td>
            <td width="30%">{{lplacement.location}}</td>
            <td width="20%">{{lplacement.start_date}}</td>
            <td width="10%">{{lplacement.result}}</td>
            <td width="5%">{{lplacement.points}}</td>
            <td width="5%"><button ng-show="user.isSelected($index, 'Leader', division.name)" type="button" class="btn btn-xs btn-info">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </uib-tab>


  </uib-tabset>

</div>
